.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div {
  margin: 15px;
}

div > input {
  width: 280px;
}

input {
  width: 200px;
}
